@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #EAC926;
    height: auto;
}
.logo-barra{
    width: 100%;
    height: 80px;
    display: flex;
}
.logo{
    width: 50vw;
    justify-content: flex-start;
}
.logo-img{
    width: 100%;
    min-width: 200px;
    padding: 10px 10px;
}
.menu-busqueda{
    

}
.descrip-cuotas{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    
}
.fa-hand-holding-usd{
    width: 5%;
}

.descrip-cuotas-p {
    width: 100%;
    font-size: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
}
.busqueda{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-right: 10px;
}
.barra-busqueda{
    width: 60%;
}
.busqueda input, .fa-search{
    display: flex;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    align-self:center;
    justify-content: flex-end;
}

/* fin de encabezado */

/* inicio de nav */
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.nav-1, .nav-2{
    margin: 20px;
    font-size: 0.8rem;
    list-style: none;
    display: none;
}
.burger-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.burger-menu i{
    background-color: #03264C;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
}

/* fin nav */

/* inicio de banner */

.banner img{
    /* background-image: url(./img/img-home-banner.jpg); */
    width: 100%;
   
}
.banner{
    height: auto;
}
/* fin de banner */

.fa-bars{
    padding: 11px;
    display: flex;
    font-size: 2rem;
}
.item-menu{
    text-decoration: none;
    color: black;
    padding: 5px;
}

/* main */
.precio {
    font-size: 18px;
    margin-right: 20px;
}
.descuento, .producto{
    font-size: 16px;
}
.precio, .producto{
    color: #666;
}
.descuento{
    color: #39b54a;
}
.producto{
    margin-top: 20px;
    display: none;
}
.fa-credit-card, .fa-gift, .fa-user-shield {
    font-size: 2em;
    margin-bottom: 10px;
}
.productos{
    background-color: #ebebeb;
    align-content: center;
    width: 100%;
}
h4{
    color: #666;
    font-size: 18px;
    padding: 30px;
    text-align: center;
}
.basado-ultima-visita, .ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-self: center;
    min-width: 150px;
}
.items{
    margin: 10px;
    width: 20%;
    height: auto;
    min-width: 320px;
    
}
.img-items{
    width: 100%;
    height: 300px;
    background-color: white;
}
img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.container-description{
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}
.container-precio{
    display: flex;
    padding-top: 20px;

}
.fa-truck{
    color: #39b54a;
    border:#39b54a solid 1px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
}
.container-truck{
    display: flex;
    justify-content: flex-end;
    
}


hr{
    margin: 10px 0;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:  #666;
    margin-bottom: 20px;
}
.pago, .envios, .seguridad{
    width: 70%;
    align-self: center;
    margin: 30px;
}
.pago i, .envios i, .seguridad i{
    color: #1259c3;
}
h3{
    font-size: 18px;
}
p{
    font-size: 14px;
}


/* estilos de login.html */
/* formulario */
.main-login{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    background-color: #ebebeb;
}
.form-login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label-login{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #666;
}
.input-login,
.button-login{
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0;
}
.button-login{
    background-color: #1259c3;
    width: 100%;
    color: white;
    margin-top: 30px;
}

/* estilos formulario de registro */
.body-register{
    background-color: #ebebeb;
}
.main-register{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.form-register{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    align-self: center;
}
fieldset,
.otros-datos{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 25px;
    background-color: #ebebeb;
    border: none;
}
legend{
    
}
label{
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}
input{
    width: 70%;
    margin: 10px 0;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-weight: 300;
    font-size: 16px;
    
}
.opciones,
.opciones-interes{
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.opciones-interes{
    width: 80%;
}
#perfil,
#interes{
    width: 20px;
    padding: 20px 0;
   
}

#fotoUsuario{
    padding: 0;
}

.enviar-register,
.limpiar-register{
    font-weight: 500;
    font-size: 18px;
    width: 25%;
    padding: 0;
    height: 40px;
    background-color: #1259c3;
    color: white;
}


@media (min-width: 361px){
    .producto{
        display:flex;
    }
    .items{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .basado-ultima-visita, .ofertas{
        flex-direction: row;
    }
    
    
}

/* media query destokp */

/* @media screen and (min-width:1200px){
    .burger-menu{
        display: none;
    } */
    /* nav{
        display: flex;
    }
} */

/* media query tablet */
@media screen and (min-width:769px){
    
    .encabezado{
        display: flex;
        width: 100%;
    }
    .logo-barra{
        width: 60vw;
    }
    .descrip-cuotas{
        display: flex;
        justify-content: flex-end;
        width: 40vw;
        margin-right: 30px;
    }
    .descrip-cuotas-p{
        justify-content: flex-end;
    }
    .burger-menu{
       display: none;
   }
   nav{
    display: flex;
    padding: 0 30px;
}
.items{
    margin: 10px;
    width: 20%;
    height: auto;
    min-width: 250px;
    
}
}

@media screen and (min-width:465px){
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
    }
    .nav-1, .nav-2{
        display: flex;
        
    }
 }




/* @media(min-width:770px){
    .items{
        margin: 10px;
        width: 20%;
        height: auto;
        min-width: 320px;
        
    }
}
@media (min-width: 769px){
    .nav-1, .nav-2{
        display: flex;
        justify-content: space-between;
    }
    
    .nav-1 li, .nav-2 li{
        padding: 10px;
    }
    .nav-2{
        justify-content: flex-end;
    }
    .burger-menu{
        display:none ;
    }
    .basado-ultima-visita, .ofertas{
        flex-direction: row;
    }
    
} */